*~
/target
/.classpath
/.project
/.settings
/.vscode
/target/
/core/target
/core/.classpath
/core/.project
/core/.settings
/core/.factorypath
/core/target
/freemarker/.classpath
/freemarker/.project
/freemarker/.settings
/freemarker/target
/freemarker/.factorypath
/jelly/.classpath
/jelly/.project
/jelly/.settings
/jelly/target
/jelly/.factorypath
